/* body */
body{
	background: blue;

}
 h1{
 	font-size: 28pt;
 	font-family: 'Lobster', cursive;
 }
.text{
	text-align: center;
	font-family: 'Bree Serif', serif;

}

#left{
	line-height: 2;
	float: left;
	
	
}

a{
	font-size: 18pt;
	text-decoration: none;
}

a:hover{
	color: maroon;

}

ul{
	list-style-type: none;
}
#facts{
	font-size: 15pt;
	line-height: 2;
	height: 450px;
	width: 30%;
	float: right;
	padding: 10px;
	border-left: 2px solid black;
}

#list{
	font-size: 15pt;
	list-style: none;
	line-height: 3;
	text-align: center;
	padding: 10px;

}

#list li{
	border-bottom: 2px solid white;
}

/* images */





/* headers/footers */

header{
	text-align: center;

}

footer{

	padding: 5px;
	text-align: center;
	border-top: 5px solid maroon;
	line-height: .5;
	margin-right: 50px;
	margin-left: 50px;
	clear: both;
}
