/* body */
body{
	background-image: url(cat.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
}


.text{
	line-height: 2;
	font-size: 1.5em;
	text-align: center;
	font-family: 'Bree Serif', serif;
	

}
.container{
	border-radius: 10px;
	border: 6px solid maroon;
	width: 65%;
	background: #fcbe5a;
}
.row{
	padding:10px;
	margin: 5px;
	border-bottom: 5px solid maroon;
	width: 100%;
	
}

.leftsidebar{
	margin-bottom: 5px;
	
	padding:15px;
}

.maintext{
	border-left: 7px solid maroon;
}


/*
.col-md-2{
	border: 3px solid black;
	padding:10px;
}
.col-md-4{
	padding:10px;

	border: 5px solid maroon;
}

.col-md-6{
	padding:10px;

	border: 5px solid maroon;
}
*/

/*nav*/
a{
	color: maroon;
	font-size: 18pt;
	font-family: 'Bree Serif', serif;
	text-decoration: none;
}

nav{
	padding:20px;
	margin: 10px;
}
nav a{
	padding:10px;

}
a:hover{
	color: white;
	background-color: maroon;
	text-decoration: none;

}

/* lists */

ul{
	list-style-type: none;
}
.stats{
	font-size:1.1vw;
	overflow: auto;
	text-align: center;
	padding: 5px;
	border-left: 5px solid maroon;
}


.stats li{
	border-bottom: 1px solid maroon;
	padding: 4px;
}

#list{
	font-size: 20pt;
	list-style: none;
	line-height: 3;
	text-align: center;
	padding: 10px;

}

#list li{
	border-bottom: 2px solid maroon;
}




/* headers/footers */

 h1{
 	font-size: 4em;
 	font-family: 'Lobster', cursive;
 	
 }

header{
	text-align: center;
	border-bottom:10px solid maroon;
	border-top:  10px solid maroon;
	font-family: 'Bree Serif', serif;
	margin:6%;
	padding: 12px;

}


header h1{
	font-size: 6em;
}

footer{

	padding: 15px;
	text-align: center;
	border-top: 10px solid maroon;
	line-height: .5;
	margin-top: 50px;
	margin-right: 50px;
	margin-left: 50px;
	clear: both;
}
